@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --spacing-mobile: 10px;
  --spacing-desktop: 1rem;

  --spacing-section: 2rem;
  --spacing-section-md: 4rem;

  --spacing-content: 10px;
  --spacing-content-sm: 4px;

  --text-constant-lg: 40px;
  --text-constant-md: 24px;
  --text-constant-sm: 12px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 60px;
  }
}

@layer components {
  .card-standard {
    @apply bg-white border-l-4 border-gray-500 shadow-sm rounded-r-lg p-content text-justify overflow-hidden;
  }
}