@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --spacing-mobile: 0.5rem;
  --spacing-desktop: 1rem;
  --spacing-section: 2rem;
  --spacing-section-md: 4rem;
  --spacing-content: 10px;

  --text-constant-lg: 40px;
  --text-constant-md: 24px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}